// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "./reset.less";
@import "./lib.less";

* {
    box-sizing: border-box;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

body {
  min-height: 600px;
  min-width: 990px;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
}

.global-loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10000;
  &::before {
    content: 'loading...';
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
  }
}
